*{
    box-sizing: border-box;
}

.branding { 
    background-color: black;
    width: 150px;
    height: 45px;
    margin-right: auto;
}
.main-container{
   width: 1000px;
    margin: 0 auto;
    background-color: lightgray
}



header{
     display: flex;
}

.pill-button{
   display: inline-block;
   background: grey;
   padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
}
.promo{
    background: white;
    color: black;
    font-size: 18px;
}

/*Big Promo*/ 

#big-promo {
padding-top: 200px;
background: pink;
}

.promo-message{
    width: 60%;
    padding: 50px;
    background: lightgray;
    
}

.myNeatDiv


    