*{
    box-sizing: border-box;
}

.branding { 
    background-color: lightgoldenrodyellow;
    width: 150px;
    height: 45px;
    margin-right: auto;
}
.main-container {
   width: 1000px;
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    background-color: lightgray
    
}

nav a:hover{
background-color: lightgoldenrodyellow;
    

}

.promo-container {
    background-color: lightgoldenrodyellow;

}


header{
     display: flex;
}

h1, h3{
font-family: 'Pacifico', cursive;
}

p{
font-family: 'Architects Daughter', cursive;
}
.pill-button {
   display: inline-block;
   background: grey;
   padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
}
.promo{
    background: white;
    color: black;
    font-size: 18px;
}

/*Big Promo*/ 

#big-promo {
padding-top: 200px;
background: pink;
background-image: url("macroonK.jpg") ;
background-size:cover; 
}

.promo-message {
    width: 60%;
    padding: 50px;
    background: cadetblue;
    background-blend-mode:hard-light;
    background-image: url(macroons1.jpg);
    background-size: cover;
 
}

.product-feature, .product-buy-it-now {
display: flex;
background-color: powderblue;
}

.feature-image {
    
background-color: cornflowerblue;
width: 200px;
height: 200px;
margin: 0 auto 0 auto;
border-radius: 50%;
overflow: hidden;
}

.feature {
text-align: center;
padding: 20px;
}

.product-buy-it-now {
align-items: center;
padding: 20px;
background-color: lightgoldenrodyellow
}

.product-info{

text-align: right;
}

/*product reviews*/

#product-reviews{
background-color: pink;
color:cadetblue;
text-align: center;
padding: 50px;
}

footer{
    background-color: lightgoldenrodyellow;
display: flex;
padding: 15px 10px 15px 10px; 
}
.footer-links{
flex: 1;
    

}

.footer-copyright{
margin: 0;

}
    