*{
    box-sizing: border-box;
}

.branding { 
    background-color: black;
    width: 150px;
    height: 45px;
    margin-right: auto;
}
.main-container {
   width: 1000px;
    margin: 0 auto;
    background-color: lightgray
    
}

.promo-container {
    background-color: cadetblue;

}


header{
     display: flex;
}

.pill-button {
   display: inline-block;
   background: grey;
   padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    
}
.promo{
    background: white;
    color: black;
    font-size: 18px;
}

/*Big Promo*/ 

#big-promo {
padding-top: 200px;
background: pink;
}

.promo-message {
    width: 60%;
    padding: 50px;
    background: cadetblue;                                                                                                                                                                                                                         ;
    
}

.product-feature, .product-buy-it-now {
display: flex;
background-color: powderblue;


}

.feature-image {
    
background-color: cornflowerblue;
width: 200px;
height: 200px;
margin: 0 auto 0 auto;
border-radius: 50%;
overflow: hidden;


}

.feature {
text-align: center;
padding: 20px;
}

.product-buy-it-now {
align-items: center;
padding: 20px;
background-color: lightgoldenrodyellow
}

.product-info{

text-align: right;
}

/*product reviews*/

#product-reviews{
background-color: pink;
color:cadetblue;
text-align: center;
padding: 50px;

}

    