* {
    box-sizing: border-box;
}

.main-container {
    width: 1200px;
    margin: 0 auto 0 auto;
    position: relative;
    margin: auto;
    diplay: flex;
    background-color: #DDC4A5;
}

.logo{
    position: relative;
    display: flex;
    left: 260px;
    top: 12px;
}


.nav {
    position: relative;
    display: flex;
    height: 125px;
    background: #9E8C7F;
    margin: auto;

}

.nav li {
    position: relative;
    display: inline-flex;
    margin: 0 10px;
    top: 30px;

}

.nav a {
    padding: 3px 10px 3px 10px;
    text-decoration: none;
   font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 600;
}




.sign-up{
    position: relative;
    height: 500px;
    margin: auto;
    background-size: cover;
    background-image: url("Cbackground.jpg");
}


.sign-up-text-blox {
    position: relative;
    width: 600px;
    margin: auto;
    top: 320px;
    background: none;
}

.sign-up-text-blox h1 {
    position: relative;
    margin: auto;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: white;
    
}

.sign-up-text-blox p {
    position: relative;
    height: 80px;
    width: 400px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: white;
    margin: 10px auto;
   
}

.pill-button-pricing {
    position: relative;
    left: 252px;
    margin: none;
    padding: 8px 20px 8px 20px;
    color: white;
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    border: solid;
}

.feature-items {
    position: relative;
    display: inline-flex;
    padding: 70px 0 40px 0;
}
.features {
    width: 300px;
}

.feature-image {
    position: relative;
    width: 200px;
    height: 200px;
    margin:;
    padding: inherit;
}

.feature-image img {
    height: 200px;
    
}

.features h2 {
    position: relative;
    left: 92px;
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    margin: 20px 0 0 0;
    
    
}

.features p {
    width: 300px;
    padding: 20px;
    text-align: center;
    padding: 0 20px;
}

.more-features {
    position: relative;
    display: inline-flex;
    padding:0 0 50px 0;
}

.more-features h2 {
    position: relative;
    font-family: 'Cabin', sans-serif;
    display: inline-flex;
    padding: 0 30px;
    
}

.more-features p {
    position: relative;
    padding: 0 30px;
    margin: none;
    
}

.more-features-image img{
    position: relative;
    padding: 30px 20px 30px 10px ;
    width: 400px;
    height: 400px;
}

.pill-button-feature {
    position: relative;
    justify-content: flex-start
    left: 250px;
    display: inline-block;
    background: none;
    font-family: 'Cabin', sans-serif;
    padding: 10px 30px 10px 30px;
    margin: 30px 0 0 30px;
    color: #9E8C7F;
    border: solid;
}

.footer {
    display: flex;
    padding: 15px 10px 15px 10px;
    font-size: 20px;
    right: inherit;
    padding-right: 50px;
}

